@media screen and (max-width:549px)
{
.container{
    display: flex;flex-flow: column;margin-top:100px;
    row-gap: 7px;
}
.card{padding: 10px 0px 0px 10px;margin-top: 20px;
    width: 300px;font-weight: 50; font-size:20px; color: pink;text-decoration: none;
    height: 50px;
    border:2px solid pink;border-radius: 10px;box-shadow: 5px 5px 2px rgb(218, 222, 226);
}
.link{
    color: pink;text-decoration: none;
}
.addlist{width: 30px;height: 30px; color: pink;position:relative;margin-left: 30px;
}
.flex{z-index: 1;position: absolute;margin-top: -400px;
    display: flex ;text-align: center;flex-flow: column;width: 700px;height: 33%;line-height: 40px;row-gap: 50px;
}
.box{text-align: center;line-height: 50px;margin-left: 17px;
    width: 280px;height: 200px;border:2px solid pink;border-radius: 7px;box-shadow: 7px 7px 2px rgb(218, 222, 226);font-size: 25px;
}
.bgpage{
    filter: blur(6px);
}
}
@media only screen and (min-width:550px) {
    .head{
        margin:49px 0px 0px 298px;position:absolute;top: -110px;
    }
    .container{
        display: flex;columns: auto auto auto;margin-top: 200px;margin-left: 300px;
        column-gap: 50px;
    }
    .card{padding: 10px;text-align: center;
        width: 150px;
        height: 200px;
        border:2px solid red;border-radius: 10px;box-shadow: 5px 5px 2px rgb(218, 222, 226);
    }
    .addlist{position: absolute;
        margin: -50px 0px 0px 800px;
    }
    .flex{z-index: 1;position: absolute;left: 300px;margin-top: -200px;
        display: flex ;text-align: center;flex-flow: column;width: 700px;height: 33%;line-height: 40px;row-gap: 50px;
    }
    .line{
        width:200px; height:1px;display: inline-block;
    }
    .box{text-align: center;line-height: 50px;margin-left: 250px;
        width: 300px;height: 500px;border:2px solid red;border-radius: 5px;box-shadow: 7px 7px 2px rgb(218, 222, 226);font-size: 25px;
    }
    .bgpage{
        filter: blur(6px);
    }
}
